src/FogBugzPd/FogLampz/Model/Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Entities">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Entity">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Property">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Type" type="xs:string" use="required" />
                  <xs:attribute name="Map" type="xs:string" use="required" />
                  <xs:attribute name="Strategy" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="CreateCommand" type="xs:string" use="required" />
            <xs:attribute name="ListCommand" type="xs:string" use="required" />
            <xs:attribute name="Root" type="xs:string" use="required" />
            <xs:attribute name="Element" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>